html {
	background: #e5e5e5;
}
html ,body {
	margin: 0;
	padding: 0;
}
.header {
	background: #000;
	margin:0;
	color:#fff;
	width: 100%;
	height: 60px;
	border-bottom: 4px solid #feca01;


}
.head {
	position: fixed;
	/*margin-top:-10px;*/
}
.header .container {
	margin: 0;
	padding: 0;
}
.header h1 {
	color:#fff;
}
.header img {
	padding: 10px 25px;
}
.nav {
	float: right;
	list-style: none;
	margin-right: 50px;
	}

.nav li {
	float:left;	
	margin-right:50px;
}
.nav li a {
    text-transform: uppercase;
    
    color: #fff;
    text-decoration: none;
   }
 .btn-mini {
    display: block;
    cursor: pointer;
    width: 150px;
    margin: 0 auto;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: #feca01;
    border-radius: 5px;
    height: 20px;
}
.content {
	clear:both;
	/*padding: 50px 0px;*/
}
.content h2 {
	text-align: center;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	margin-top:10px;
	padding: 0;
}
th , td {
	padding: 0px 8px;
	font-weight: normal;
	font-size: 12px;
	}
	thead {
	background: #8892BF;
	}
	tfoot {
		background: #8892BF;
		text-align: center;
		
	}
	tfoot td {
		padding: 10px 0;
	}


form label {
	display:block;
	margin-top:10px;
	color:#555;
}
input[type=text],
input[type=password],
textarea,
select {
	font-family: Arial, Helvetica, sans-serif;
	border:1px solid #ddd;
	padding:6px;
	width: 300px;
	background:#fff;
	border-radius: 4px;
	
}
textarea{
	height: 100px;
}
input[type=submit]{
	padding: 10px 24px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background: #000;
	color: #fff;
	border:none;
	font-weight: bold;
	cursor: pointer;

}
.remark {
	color:#f00;
	
}

		input[type=text],
		input[type=password],
		textarea,
		select {
		fontinclude 'confs/config.php';-family: Arial, Helvetica, sans-serif;
		border:1px solid #ddd;
		padding:6px;
		width: 150px;
		background:#fff;
		border-radius: 4px;
	}
		.form-style-5{
	    max-width: 500px;
	    padding: 10px 20px;
	    background: #f4f7f8;
	    margin: 10px auto;
	    padding: 20px;
	    background: #f4f7f8;
	    border-radius: 8px;
	    font-family: Georgia, "Times New Roman", Times, serif;
	}
	.form-style-5 fieldset{
	    border: none;
	}
	.form-style-5 legend {
	    font-size: 1.4em;
	    margin-bottom: 10px;
	}
	.form-style-5 label {
	    display: block;
	    margin-bottom: 8px;
	}
	.form-style-5 input[type="text"],
	.form-style-5 input[type="date"],
	.form-style-5 input[type="datetime"],
	.form-style-5 input[type="email"],
	.form-style-5 input[type="number"],
	.form-style-5 input[type="search"],
	.form-style-5 input[type="time"],
	.form-style-5 input[type="url"],
	.form-style-5 textarea,
	.form-style-5 select {
	    font-family: Georgia, "Times New Roman", Times, serif;
	    background: rgba(255,255,255,.1);
	    border: none;
	    border-radius: 4px;
	    font-size: 16px;
	    margin: 0;
	    outline: 0;
	    padding: 7px;
	    width: 100%;
	    box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    background-color: #e8eeef;
	    color:#8a97a0;
	    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	    margin-bottom: 30px;

	}
		.form-style-5 input[type="text"]:focus,
		.form-style-5 input[type="date"]:focus,
		.form-style-5 input[type="datetime"]:focus,
		.form-style-5 input[type="email"]:focus,
		.form-style-5 input[type="number"]:focus,
		.form-style-5 input[type="search"]:focus,
		.form-style-5 input[type="time"]:focus,
		.form-style-5 input[type="url"]:focus,
		.form-style-5 textarea:focus,
		.form-style-5 select:focus{
		    background: #d2d9dd;
		}
		.form-style-5 select{
		    -webkit-appearance: menulist-button;
		    height:35px;
		}
		.form-style-5 .number {
		    color: #000;
		    float: right;
		    font-family: impact;
		    font-weight: bold;
		    margin-left: 100px;
		    display: inline-block;
		    font-size: 24px;
		    text-align: right;

		}

		.form-style-5 input[type="submit"],
		.form-style-5 input[type="button"]
		{
		    position: relative;
		    display: block;
		    padding: 2px 20px;
		    color: #FFF;
		    margin: 0 auto;
		    background: #feca01;
		    font-size: 18px;
		    text-align: center;
		    font-style: normal;
		    width: 200px;
		    border: none;
		    border-width: 1px 1px 3px;
		    margin-bottom: 10px;
		    height: 50px;
		}
		.form-style-5 input[type="submit"]:hover,
		.form-style-5 input[type="button"]:hover
		{
		    background: #eeca05;
		}
		.back-to-top {
			position: fixed;
			bottom: 2em;
			right: 0px;
			text-decoration: none;
			color: #000000;
			background-color: rgba(235, 235, 235, 0.80);
			font-size: 12px;
			padding: 1em;
			display: none;
		}

		.back-to-top:hover {	
			background-color: rgba(135, 135, 135, 0.50);
		}	